*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}