.dgv{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvTitulos{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    background-color: #248;
    color: aliceblue;
    border-radius: 5px 5px 0px 0px;
    width: 780px;
}
.dgvTitulos div, .dgvDados div{
    padding: 5px;
}
.dgvDados{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvLinha{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    width: 770px;
}
.dgvLinha:hover{
    background-color: #088 !important;
    cursor: pointer;
    color: white;
}
.dgvLinha:nth-child(odd){
    background-color: #aaa;
}
.dgvLinha:nth-child(even){
    background-color: #ddd;
}

.c1{
    width: 50px;
    text-align: center;
}
.c2{
    width: 150px;
    text-align: center;
}
.c3{
    width: 150px;
    text-align: center;
}
.c4{
    width: 150px;
    overflow: hidden;
    text-align: center;
}
.c5{
    width: 200px;
    text-align: center;
}
.pdo{
    font-size: large;
}
.pdo:hover{
    font-size: larger;
}

.openOperations{
    width: 110px;
    height: 40px;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 780px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.openOperations>button{
    font-size: small;
    height: 20px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
}
.openOperations>button:hover{
    background-color: #088;
}
/*---------------------------*/

#CampoPesquisa{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    padding: 10px 10px 40px 0px;
}
#inputPesquisa{
    width: 400px;
    border-radius: 10px;
    padding: 5px;
}

#BtnPesquisa{
    border-radius: 10px;
    margin-left: 5px;
}
#boxresultado{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-self: center;
}
#resultado{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: flex-start;
    align-self: flex-start;
    width: 760px;
}
.contato{
    display: flex;
    flex-direction: row;
}

.none{
    display: none;
}
.display{
    display: block;
}
#clearReseach{
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
}
